/* You can add global styles to this file, and also import other style files */
@media (max-width: 576px) {
  .toast-top-right {
    right: 10px !important;
    left: 10px !important;
    width: auto !important;
  }

  .toast-container .ngx-toastr {
    width: 100% !important;
    box-sizing: border-box;
    font-size: 14px;
  }
}
